@import "./bootstrap.min.css";

.chunk-elem {
  background-color: #204056;
  border: 3px solid white;
  color: #00e186;
  cursor: move;
  padding: 5px;
  text-align: center;
  overflow-wrap: break-word;
}

.chunk-hover {
  border: 3px solid #00e186;
}

.chunk-status {
  background-color: #204056;
  color: white;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 200px;
}

@media (max-width: 576px) {
  .chunk-status {
    width: 160px;
  }
}
.chunk-status > h5 {
  color: white;
}

.progress-container {
  padding: 0 3px;
}

.progress {
  background-color: #ced3d8;
  height: 25px;
}

.progress-bar {
  background-color: #00e186;
  color: #204056;
  flex-direction: row;
}

.progress-bar > img {
  padding-right: 5px;
  width: 25px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #204056;
}

.btn-dark {
  background-color: #204056;
}

#marquee {
  display: flex;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #204056;
  background-image: linear-gradient(to bottom right, #00e186 20%, #007ac2);
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

main {
  min-height: 90vh;
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #204056;
  height: 10vh;
}

footer > a {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #00e186;
}

footer > a:hover {
  color: #00ae68;
}

.separator {
  height: 2em;
  margin: 1em;
  border-right: 1px solid #2e5c7b;
}

header {
  width: 100%;
  text-align: left;
  margin-bottom: 1em;
}

#top-logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#top-logo-img {
  width: 2em;
  margin: 0.5em;
}

#top-logo-text {
  margin-bottom: 0;
}
