<header>
  <a id="top-logo-link" href="/">
    <img id="top-logo-img" src={static_path(@conn, "/images/crowdsort.svg")}>
    <h4 id="top-logo-text">Crowdsort</h4>
  </a>
</header>
<h2>Enter the dataset you need to sort as a JSON array</h2>
<div class="row m-0">
  <div class="col-md-6 offset-md-3 text-center">
    <span class="text-muted">Example: [5,2,4,1,3] or ["dog", "cat", "mouse", "horse"]</span>
    <%= form_for @conn, "", fn _ -> %>
      <textarea id="data" name="data" rows="10" style="width:100%" maxlength="100000"></textarea>
      <br>
      <button id="submit" class="btn btn-dark btn-block" type="submit">Upload</button>
    <% end %>
    <div class="d-flex align-items-center justify-content-between py-2">
      <button class="btn btn-secondary mr-1" onclick="intFill()">Fill with random numbers</button>
      <button class="btn btn-secondary ml-1" onclick="wordFill()">Fill with random words</button>
    </div>
    <div id="error" class="text-danger">
      <%= Phoenix.Flash.get(@flash, :danger) %>
    </div>
  </div>
</div>
<script type="text/javascript">
  // Verify the format as they type
  document.getElementById('data').addEventListener('keyup', (e) => {
      try {
        JSON.parse(e.target.value);
        document.getElementById('error').innerHTML = "";
        document.getElementById('submit').disabled = false;
      } catch (e) {
        document.getElementById('error').innerHTML = `${e}`;
        document.getElementById('submit').disabled = true;
      }
  });

  function intFill() {
    // https://stackoverflow.com/a/43044960/4496684
    let ints = Array.from({length: 200}, () => Math.floor(Math.random() * 200));
    let uniqueInts = Array.from(new Set(ints));
    document.getElementById('data').value = JSON.stringify(uniqueInts);
  }

  // Helper function
  function handleErrors(response) {
    if (!response.ok) throw Error(`Status code was ${response.status}.`);
    return response;
  }

  function wordFill() {
    fetch("/frankenstein.txt")
      .then(handleErrors)
      .then(response => response.text().then(content => {
        let allWords = content.split(" ");
        let randStart = Math.floor(Math.random() * allWords.length - 201)
        allWords = allWords.slice(randStart, randStart + 199)
        document.getElementById('data').value = JSON.stringify(allWords);
        document.getElementById('error').innerHTML = ''
      }))
      .catch(err => document.getElementById('error').innerHTML = "Could not load word list, please try again. " + err)
  }
</script>
